PYTHONPATH=src/

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=chatbot
DB_ROOT_PASSWORD=password
DB_USERNAME=user
DB_PASSWORD=pass

AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_API_KEY=xxxxx
AZURE_OPENAI_BASE_ENDPOINT=https://xxxxx.openai.azure.com
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=xxxxx-embed-model
AZURE_OPENAI_LLM_DEPLOYMENT_NAME=xxxxx-gpt-4o-model
AZURE_OPENAI_LLM_MODEL_NAME=gpt-4o
